In [1]:
import pandas as pd
from pyecharts.charts import Map
from pyecharts import options as opts
from pyecharts.charts import Timeline
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
s_i=pd.read_excel('THReg_Family_cohesion.xlsx')

In [46]:
s_i=s_i.drop('Unnamed: 0',axis=1)
s_i['Year']=s_i['Year']+2000
s_i=s_i.pivot(index='Year',columns='reg',values='Family cohesion')

In [47]:
s_i.to_excel('s_i2.xlsx')

In [48]:
divorce_rate=pd.read_excel('s_i2.xlsx')

In [49]:
divorce_rate

,Year,上海,云南,内蒙古,北京,吉林,四川,天津,宁夏,安徽,...,湖南,甘肃,福建,西藏,贵州,辽宁,重庆,陕西,青海,黑龙江
0,2008,-1.750653,0.867361,-0.932881,-1.288953,-1.793053,-0.160005,-1.605310,0.815163,0.781841,...,-0.082878,0.451020,0.193333,0.434031,1.968150,-1.549181,0.215386,-0.441204,0.460978,-1.507214
1,2009,-1.761680,0.791755,-1.026050,-1.246301,-1.771556,-0.153089,-1.685013,0.541260,0.578388,...,0.158163,0.090545,0.101444,-0.116916,1.683431,-1.765888,0.091850,-0.513122,0.320927,-1.596073
2,2011,-1.850178,0.435962,-1.125220,-1.434515,-1.545177,-0.203184,-1.420399,0.445850,0.312324,...,0.466362,-0.316495,-0.227159,0.761316,1.739879,-1.642076,-0.318600,-0.661529,0.263838,-1.674868
3,2012,-1.524087,0.479296,-0.999525,-1.237546,-1.713814,-0.143283,-1.148597,0.619947,0.449633,...,0.737088,-0.328156,0.188978,0.615038,1.460357,-1.750166,-0.013560,-0.752086,0.381109,-1.507568
4,2013,-1.431035,0.647411,-0.988646,-1.113116,-1.743146,0.032767,-1.237494,0.401615,0.575608,...,0.620268,-0.225264,0.196042,1.000156,1.259777,-1.706896,-0.155823,-0.471382,0.251219,-1.531383
5,2014,-1.269689,0.456565,-0.930588,-0.959661,-1.461832,0.094162,-1.290213,0.277604,0.456869,...,0.690931,-0.301023,0.534122,1.418637,1.277630,-1.622049,-0.145714,-0.442140,-0.006755,-1.502333
6,2015,-1.399142,0.528461,-1.183972,-1.077868,-1.562708,-0.023187,-1.658953,0.387149,0.492842,...,0.771277,-0.073622,0.596785,1.182414,1.390813,-1.553829,-0.044028,-0.389287,0.442839,-1.797614
7,2016,-1.145922,0.670954,-1.101135,-0.762225,-1.436579,0.081540,-1.288552,0.293494,0.470428,...,0.782549,-0.087082,0.887947,1.314287,1.435713,-1.531583,0.051072,-0.372125,0.376128,-1.847459
8,2017,-1.137525,0.617664,-0.838197,-0.702819,-1.250300,0.198037,-1.149697,0.172620,1.120200,...,0.883545,0.152531,1.007735,1.393993,1.290441,-1.583722,0.275672,-0.055735,0.494049,-1.807391
9,2018,-1.170266,0.577650,-1.018926,-0.865831,-1.302250,0.425432,-1.509036,0.628346,0.940538,...,1.113009,0.079307,0.466272,1.270966,1.734158,-1.541679,0.444914,-0.319268,0.416287,-1.775099

In [146]:
#divorce_rate.set_index('reg')

In [50]:
attr = divorce_rate.columns.tolist()

In [51]:
attr=attr[1:]

In [52]:
def map_visualmap(sequence, date) -> Map:
    c = (
        Map()
        .add(date, sequence, maptype="china",is_map_symbol_show=False)
        .set_series_opts(label_opts=opts.LabelOpts(is_show=True))
        .set_global_opts(
            title_opts=opts.TitleOpts(title="China Family Cohesion factor",pos_left='center'),
            visualmap_opts=opts.VisualMapOpts(max_=2.5,min_=-2.5,
                                              is_piecewise=False,
            range_color=['#FAF8AB', '#01A5C2']# 这里修改颜色，低、中、高
            ),
            legend_opts=opts.LegendOpts(is_show=False)
        )
    )
    return c

In [53]:
row = divorce_rate.iloc[1,1:].tolist()

In [54]:
timeline = Timeline()

In [55]:
n = len(divorce_rate.index)

In [56]:
for i in range(n):
#取每日数据
    row = divorce_rate.iloc[i,1:].tolist()
#将数据转换为二元的列表
    sequence_temp = list(zip(attr,row))
#对日期格式化以便显示
    time = str(divorce_rate.Year[i])
#创建地图
    map_temp = map_visualmap(sequence_temp,time)
#将地图加入时间轴对象
    timeline.add(map_temp,time).add_schema(play_interval=300,symbol='diamond')
# 地图创建完成后，通过render()方法可以将地图渲染为html
timeline.render('China Family Cohesion factor.html')

'E:\\pythoncode\\final work\\data_pre\\China Family Cohesion factor.html'

In [6]:
s_i=pd.read_excel('THReg_Family_cohesion.xlsx')
s_i=s_i.drop('Unnamed: 0',axis=1)
s_i

          reg  Year  Family cohesion
0         北京市    18        -0.865831
1         天津市    18        -1.509036
2         上海市    18        -1.170266
3         重庆市    18         0.444914
4         河北省    18         0.763240
..        ...   ...              ...
305       陕西省     8        -0.441204
306       甘肃省     8         0.451020
307       青海省     8         0.460978
308   宁夏回族自治区     8         0.815163
309  新疆维吾尔自治区     8         0.767374

[310 rows x 3 columns]

In [7]:
y = s_i.iloc[:, 2] 
x = s_i.iloc[:, 1] 
x = sm.add_constant(x) # 若模型中有截距，必须有这一步
model = sm.OLS(y, x).fit() # 构建最小二乘模型并拟合
print(model.summary()) # 输出回归结果

                            OLS Regression Results
==============================================================================
Dep. Variable:        Family cohesion   R-squared:                       0.021
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     6.448
Date:                Tue, 29 Dec 2020   Prob (F-statistic):             0.0116
Time:                        22:14:11   Log-Likelihood:                -422.18
No. Observations:                 310   AIC:                             848.4
Df Residuals:                     308   BIC:                             855.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.5745      0.233     -2.470      0.014      -1.032      -0.117
Year           0.0432      0.017      2.539      0.012       0.010       0.077
==============================================================================
Omnibus:                       31.796   Durbin-Watson:                   0.918
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               13.317
Skew:                          -0.285   Prob(JB):                      0.00128
Kurtosis:                       2.159   Cond. No.                         59.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

          reg  Year  Family cohesion
0         北京市  2018        -0.865831
1         天津市  2018        -1.509036
2         上海市  2018        -1.170266
3         重庆市  2018         0.444914
4         河北省  2018         0.763240
..        ...   ...              ...
305       陕西省  2008        -0.441204
306       甘肃省  2008         0.451020
307       青海省  2008         0.460978
308   宁夏回族自治区  2008         0.815163
309  新疆维吾尔自治区  2008         0.767374

[310 rows x 3 columns]

In [8]:
s_i2=pd.read_excel('THSocial_influence.xlsx')
s_i2=s_i2.drop('Unnamed: 0',axis=1)
s_i2

          reg  Year  Social influence
0         北京市    18          1.861989
1         天津市    18          0.584042
2         上海市    18          1.287237
3         重庆市    18          0.818915
4         河北省    18          0.675368
..        ...   ...               ...
305       陕西省     8         -0.738151
306       甘肃省     8         -1.546806
307       青海省     8         -2.222137
308   宁夏回族自治区     8         -1.722700
309  新疆维吾尔自治区     8         -1.069623

[310 rows x 3 columns]

In [9]:
y = s_i2.iloc[:, 2] 
x = s_i2.iloc[:, 1] 
x = sm.add_constant(x) # 若模型中有截距，必须有这一步
model = sm.OLS(y, x).fit() # 构建最小二乘模型并拟合
print(model.summary()) # 输出回归结果

                            OLS Regression Results
==============================================================================
Dep. Variable:       Social influence   R-squared:                       0.178
Model:                            OLS   Adj. R-squared:                  0.176
Method:                 Least Squares   F-statistic:                     66.82
Date:                Tue, 29 Dec 2020   Prob (F-statistic):           7.84e-15
Time:                        22:16:44   Log-Likelihood:                -376.21
No. Observations:                 310   AIC:                             756.4
Df Residuals:                     308   BIC:                             763.9
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.5945      0.201     -7.952      0.000      -1.989      -1.200
Year           0.1199      0.015      8.174      0.000       0.091       0.149
==============================================================================
Omnibus:                       28.331   Durbin-Watson:                   1.336
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               43.033
Skew:                          -0.598   Prob(JB):                     4.52e-10
Kurtosis:                       4.380   Cond. No.                         59.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.